body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2f3136;
    color: white;
}
body::-webkit-scrollbar{
    width: 0px;
}

header {
    background-color: #2f3136;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #9146ff;
    padding: 10px;
    border-radius: 3cqb;
}

nav a {
    text-decoration: none;
    color: white;
}

@media (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
}

input, textarea {
    -webkit-text-size-adjust: 100%;
}


/* Message*/


#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    background-color: #2f3136;
    border-radius: 3cqb;
    overflow: hidden;
    margin-top: 5%;
  }

#message-container {
    grid-column: 1/4;
    grid-row: 1/8;
    height: 35rem;
    max-height: 99%;
    background-color: #36393f;
    border-radius: 2cqb;
    color: #fff;
    overflow-y: scroll;
}

.message {
  margin-bottom: 10px;
}

.admin-message, .server-message, .admin2-message{
  padding: 10px;
  border-radius: 10px;
}

.admin-message {
  background-color: #6d071a;
}

.admin2-message {
  color: black;
  font-size: larger;
  background-color: #FF0000;
}

.server-message {
  background-color: #9146ff;
}

.admin-message p, .server-message p, .admin2-message p{
  margin: 0;
}

#user-message:focus{
    outline: none;
}

#user-message {
  grid-column: 1/3;
  grid-row: 8;
  height: 25%;
  width: 115%;
  padding: 10px;
  border: none;
  border-radius: 3cqb;
  background-color: #36393f;
  color: #fff;
}
#message-container::-webkit-scrollbar{
    width: 0px;
}

#send-btn {
  grid-column: 3/4;
  grid-row: 8;
  width: 50%;
  margin-left: 47%;
  height: 65%;
  background-color: #9146ff;
  color: #fff;
  border: none;
  border-radius: 3cqb;
}

#send-btn:hover {
  background-color: #7a2eff;
}


/* POSTES */


#rumor-container::-webkit-scrollbar{
    width: 0px;
}

#rumor-container {
    grid-column: 1 / 4;
    grid-row: 10 / 23;
    height: 100%;
    max-width: 100%;
    padding: 10px;
    background-color: #36393f;
    border-radius: 3cqb;
    overflow-y: scroll;
}



/* POSTER */


.post-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9146ff;
}
  
.forme {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.form__input {
  width: clamp(120px, 50vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid #9146ff;
  border-radius: 15px;
  margin: 0.625rem auto;
  transition: all 250ms;
  background-color: #40444b;
}

.form__input:focus + .form__label{
  transform: translate(1.25rem,-4.25rem);
  transform-origin: 0 0;
  transition: all 500ms;
  color: #fff;
  border-color: #fff;
} 

.form__input:valid + .form__label {
  transform: translate(1.25rem,-4.25rem);
  transform-origin: 0 0;
  transition: all 500ms;
  color: green;
  border-color: green;
}

.form__input:valid{
  color: #fff;
  border-color: green;
}

.form__label {
  width: clamp(120px, 50vw, 420px);
  height: 2.5rem;
  font-size: 1rem;
  color: #9146ff;
  transform: translate(1.25rem,-2.5rem);
  transform-origin: 0 0;
  transition: all 500ms;
}

#image {
  font-size: 0%;
  background: #40444b;
  color: #40444b;

}


/* SUBMIT BUTTON */


.submit{
  padding: 15px 40px;
  background: #40444b;
  border:0;
  color: #9146ff;
  border: 1px solid #9146ff;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.submit::after,
.submit::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
    opacity: 0;
  transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.submit::after{
    width: 30px;
    height: 1px;
    background: #9146ff;
    transform: translateX(-3px);
    margin-top: 0px;
}

.submit::before{
    content: "";
    transform: rotate(-135deg) translateX(50%);
    width: 11px;
    height: 11px;
    background: transparent;
    border-left: 1px solid #9146ff;
    border-bottom: 1px solid #9146ff;
  margin-top: -1px;
}


.submit:hover{
  padding: 15px 60px 15px 20px;
}

.submit:hover::after,
.submit:hover::before{
  opacity: 1;
  right: 15px;
}


/* Style d'un post */


.cta {
    margin-top: 2%;
    display: flex;
    border-radius: 25px;
    padding: 20px;
    background-color:#2f3136;
    color:#9146ff;
}
  
.cta img {
  max-width: 40%;
  height: auto;
  border-radius: 8px;
}

.cta__text-column {
  padding-left: 20px;
}

.cta__text-column h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cta__text-column p {
  font-size: 16px;
  line-height: 1.5;
}