body{
    background-color: #00212b;
}
div.header {
    border-color: #046b90;
    text-decoration: none;
    color: #046b90;
    border: solid 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    color: inherit;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}
div.footer{
    padding: 1rem;
    margin-top: 3rem;
    border: solid 5px;
    color: #046b90;
    display: flex;
    justify-content: center;
}
.container{
    margin: 1rem;
    display: flex;
}
.box{
    flex: 50%;
    margin: 1rem; 
    padding: 1rem;
    border: solid 5px; 
    color: #046b90;
}
div.container::-webkit-scrollbar{
    width: 0px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], textarea, input[type="file"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #046b90;
    border-radius: 3px;
    background-color: #00212b;
    resize: none;
}
input[type="file"] {
    margin-bottom: 20px;
}
button.btn {
    width: 100%;
    padding: 10px;
    background-color: #046b90;
    color: #00212b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button.btn:hover {
    background-color: #00213b;
    color: #046b90;
}

button.delete {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    background-color: #00212b;
    color: red;
    border: solide 2px;
    border-color: red;
    border-radius: 5px;
    cursor: pointer;
}

button.delete:hover {
    background-color: red;
    color: white;
}
a.h2__popup{
    font-size: medium;
    margin: 0;
}
/* Styles for the popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: solid 2px;
  border-color: #046b90;
}

/* Styles for popup's close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.popup__div{
  cursor: move;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

label {
    cursor: pointer;
}